body {
background: #f3f2f3;
color: #000000;
font-family: Trebuchet MS, Arial, Times New Roman;
font-size: 12px;

}
#wrapper {
      background: #f3f2f3;
      margin: auto;
      width: 900px;
      height: 1024px;
      }
#header {
      background: #f3f2f3;
      height: 90px;
      width: 900px;
      }
#navigation {
      background: #f3f2f3;
      width: 600px;
      height: 30px;
      }
#menu {
      background: #f3f2f3;
      float: left;
      width: 600px;
      height: 724px;
      }
#content {
      background: #f3f2f3;
      float: right;
      width: 300px;
      height: 724px;
      }

      h1 {font-size: 65px; color: #000000f8; font-family: Merriweather}
      h2 {font-size: 20px; color: #5b5c5bf8; font-family: Arial, Helvetica, sans-serif}
      h3 {font-size: 20px; color: #0089faf8; font-family: Open sans-serif}
      p  {font-size: 16px; color: #646464f8 ; font-family: Merriweather}
      table {
            text-align: left;
                 
      }
      th, td {
            border: 1px solid;
      }
